<div>
    <h3>All Public Recipies</h3>

    <% @recipes.each do |recipe| %>
      <div>
        <!-- The do keyword is used to start the block, and everything between do and end will be the content of the link -->
        <%= link_to recipe_path(recipe.id) do %>
           <div>
             <h4><%= recipe.name %></h4>
           </div>
        <% end %>
        <h5>Recipe By: <%= recipe.user.name %></h5>
        <%= button_to 'Remove Recipe', recipe_path(recipe.id), method: :delete %>
      </div>


      
        <ul>
            <li>Food. Items: <%= recipe.recipe_foods.length %></li>
            <!-- sum method to iterate over each recipe_food in the recipe_foods association of a recipe -->
            <li>Price: <%= recipe.recipe_foods.sum {|each_food| each_food.food.price * each_food.quantity}%></li>
        </ul>
  
    <% end %>
</div>