<div class="container-fluid bg-dark text-light" style="height: 100vh; display: flex; align-items: center; justify-content: center;">
  <%= form_with(model: @food, url: foods_path, local: true, class: "needs-validation", novalidate: true) do |form| %>

    <div class="mb-3">
      <%= form.label :name, class: "form-label text-light" %>
      <%= form.text_field :name, class: "form-control", placeholder: "Enter Food Name", required: true %>
      <div class="invalid-feedback">Please enter a valid food name.</div>
    </div>

    <div class="mb-3">
      <%= form.label :measurement_unit, class: "form-label text-light" %>
      <%= form.text_field :measurement_unit, class: "form-control", placeholder: "Enter Measurement Unit", required: true %>
      <div class="invalid-feedback">Please enter a valid measurement unit.</div>
    </div>

    <div class="mb-3">
      <%= form.label :price, class: "form-label text-light" %>
      <%= form.text_field :price, class: "form-control", placeholder: "Enter Food Price", required: true %>
      <div class="invalid-feedback">Please enter a valid food price.</div>
    </div>

    <div class="mb-3">
      <%= form.label :quantity, class: "form-label text-light" %>
      <%= form.text_field :quantity, class: "form-control", placeholder: "Enter Food Quantity", required: true %>
      <div class="invalid-feedback">Please enter a valid food quantity.</div>
    </div>

    <div class="mb-3">
      <%= form.submit "Create New Food", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>
